useDynLib(CasPhy, .registration=TRUE)
importFrom(Rcpp, evalCpp)

export(split.data)
export(as.ultrametric)
export(regularize.mat)
export(shared.mutation.join)
export(link.hcluster)
export(h.partial.join)
export(collapse.infoless)
export(insert.dup)
export(order.tip)
export(splt.summerize)
export(find.dup)
export(to.bit)
export(iter.impute.packed)
export(read.bin2mat)
export(split.data.DNA)
export(read.bin2bigmat)
export(partial.join.DNA)
export(layer.summarize)
