useDynLib(CasPhy, .registration=TRUE)
importFrom(Rcpp, evalCpp)

export(findNeighborUnweightedParallel)
export(findNeighborRangeUnweighted)
export(imputeMat)
export(mat2bit)
export(split.data)
export(phy.impute)
export(as.ultrametric)
export(shared.mutation.join)
export(link.hcluster)
export(h.partial.join)
export(h.partial.join.parallel)
export(cal.nevo)
export(collapse.infoless)
export(insert.dup)
export(order.tip)
export(splt.summerize)
export(find.dup)
export(cal.bs)
export(to.bit)
export(iter.impute.packed)
